/*
Colors:
#56C7B2
#373737
#21BDD8
#F8422D
#FFD346

 */
html, body {
  -webkit-font-smoothing:antialiased;
}

body {
  background-color: #FFF7F4;
}

legend {
    background-color: #FFF7F4 !important;
}

input {
  background-color: #FFF7FD;
}

body:after{
  display:none;
  content: url(img/tick.png) url(img/tick@2x.png);
}

html, body, h1, h2, h3, h4, h5, h6, button, a, p {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  -webkit-font-smoothing:antialiased;
}

header {
  padding-top:15px;
  padding-bottom:15px;
  background:#56C7B2;
  margin-bottom:5px;
}

header h2 {
  text-transform:uppercase;
  color:#FFF;
  font-weight:600;
  font-size:22px;
  line-height:24px;
  margin:0;
}

header a:hover {
  color:#FFF;
}

header h2 a {
  color:#FFF;
}

header h2 img {
  margin-right:6px;
}

form.answers button.button.large {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  padding-left:64px;
  width:100%;
  text-align:left;
  border-radius:5px;
  border:none;
  box-shadow:none;
  font-weight:600;
  font-size:16px;
  line-height:24px;
  background:#F96E5F url('/img/tick-empty.png') 20px center no-repeat;
  background-image: -webkit-image-set(url(/img/tick-empty.png) 1x, url(/img/tick-empty@2x.png) 2x);
}

form.answers button.button.large.selected {
  background:#f5331d url('/img/tick.png') 20px center no-repeat;
  background-image: -webkit-image-set(url(/img/tick.png) 1x, url(/img/tick@2x.png) 2x);
}

form.answers button.button.large.true.reveal{
  background:#8ec53f url('/img/tick.png') 20px center no-repeat;
}

form.answers button.button.large.selected.false.reveal{
  background:#f5331d url('/img/cross.png') 20px center no-repeat;
  background-image: -webkit-image-set(url(/img/cross.png) 1x, url(/img/cross@2x.png) 2x);
}

form.answers input[type=checkbox] {
  display:none;
}

.results button.button.large {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  padding-left:64px;
  width:100%;
  text-align:left;
  border-radius:5px;
  border:none;
  box-shadow:none;
  font-weight:600;
  font-size:16px;
  line-height:24px;
  background:#F95E4D url('/img/tick-empty.png') 20px center no-repeat;
}

button.intro {
  width:100%;
  background-color: #56C7B2;
  border: none;
  padding: 16px;
  font-size: 24px;
  box-shadow: none;
  font-weight: 600;
  border-radius: 5px;
  margin:0;
}

button.admin {
  background-color: #56C7B2;
  border: none;
  box-shadow: none;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 3px;
}

button.delete {
  background-color: #56C7B2;
  border: none;
  box-shadow: none;
  font-weight: 600;
  border-radius: 5px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}

input.intro {
  border-radius: 5px;
  border: 2px #56C7B2 solid;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  margin:0;
  margin-bottom:15px;
}

.custom input {
  border-radius: 5px;
  border: 2px #56C7B2 solid;
}


.question {
  padding:15px 0;
}

.question h3, .add-quiz h3 {
  font-size:20px !important;
  line-height:28px !important;
  padding:0 !important;
  margin:0 !important;
  margin-bottom:5px !important;
  color:#353535;
  font-weight:600;
}

.question h4 .timer {
  background:#68d05b;
  color:#FFF;
  border-radius:3px;
  font-size:18px;
  line-height:24px;
  padding:4px 8px;
}

.question h6, .add-quiz h6 {
  color:#666;
  font-size:14px;
  text-transform:uppercase;
  font-weight:500;
  margin:0;
  padding:0;
}

.empty-question {
  margin-top:20px;
  margin-bottom:20px;
  border: 2px dashed #AAA;
  border-radius:10px;
  padding:40px;
  text-align:center;
  opacity:0.8;
}

.empty-question img {
  margin-bottom:20px;
  opacity:0.8;
}

.empty-question h2 {
  font-size:24px;
  color:#888;
  margin:0;
  padding:0;
  font-weight:500;
}

.results h4 {
  font-size: 20px;
}

.answer {
  margin-bottom: 20px !important;
}

.answer.callout {
  background-color: #19C74D;
}

.archive .panel {
  padding: 10px  !important;
}

.row.extramargin {margin-bottom: 50px auto 10px !important;}

.hidden {
  display: none;
}

.home_title {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #56C7B2;
}

/* quiz add page */
.add-quiz {
  padding:15px; 
}
.correct.add {
  margin-left: 20px !important;
  margin-top: 05px;
}

.question.add {
  //background-color: #EFE8E5;
  padding-bottom: 10px;
  margin-bottom: 10px !important;
}

button.admin.alter {
  height: 32px !important;
  padding: -20px !important;
}

.custom .correct {
  bacolor: green;
}

.question-template {
  background: #fff;
  margin: 10px;
  border-radius: 15px;
  padding:20px 30px;
}

.question-template .row div {
  padding: 2px !important;
}

.radio {
  margin-top:9px;
}

.add-quiz-page input[type=text] {
  font-size:18px;
  border-radius:4px;
  box-shadow:none;
  color:#333;
  font-weight:400;
}

.question-list-page .button {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  border-radius:5px;
  border:none;
  box-shadow:none;
}

.question-list-page h4 {
  font-weight:500;
}
/*
#56C7B2
#373737
#21BDD8
#F8422D
#FFD346
*/

.question-list-page .button.success {background-color:#56C7B2;}
.question-list-page .button.stop {background-color:#F8422D;}
.question-list-page .button.result {background-color:#21BDD8;}




