/*
Colors:
#56C7B2
#373737
#21BDD8
#F8422D
#FFD346

 */
html, body {
  -webkit-font-smoothing:antialiased;
}

html, body, h1, h2, h3, h4, h5, h6, button, a, p {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  -webkit-font-smoothing:antialiased;
}

header {
  padding-top:15px;
  padding-bottom:15px;
  background:#56C7B2;
  margin-bottom:5px;
}

header h2 {
  text-transform:uppercase;
  color:#FFF;
  font-weight:600;
  font-size:22px;
  line-height:24px;
  margin:0;
}

form.answers button.button.large {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica", "Arial", "sans-serif" !important;
  padding-left:64px;
  width:100%;
  text-align:left;
  border-radius:5px;
  border:none;
  box-shadow:none;
  font-weight:600;
  font-size:16px;
  line-height:24px;
  background:#F95E4D url('/img/tick-empty.png') 20px center no-repeat;
}

form.answers button.button.large.selected {
  background:#F8422D url('/img/tick.png') 20px center no-repeat;
}

.question {
  padding:15px 0;
}

.question h3 {
  font-size:20px;
  line-height:24px;
  padding:0;
  margin:0;
  margin-bottom:5px;
  color:#353535;
  font-weight:600;
}

.question h6 {
  color:#666;
  font-size:14px;
  text-transform:uppercase;
  font-weight:500;
  margin:0;
  padding:0;
}
